# Listas e Operacoes

In [51]:
age_01 = 39
age_02 = 30
age_03 = 27
age_04 = 18

print(age_01)
print(age_02)
print(age_03)
print(age_04)

39
30
27
18

In [52]:
ages = [39, 30, 27, 18]
type(ages)

list

In [53]:
len(ages)

4

In [54]:
ages[0]

39

In [55]:
ages

[39, 30, 27, 18]

In [56]:
ages.append(15)

In [57]:
ages

[39, 30, 27, 18, 15]

In [58]:
ages[4]

15

In [59]:
for age in ages:
  print(age)

39
30
27
18
15

In [60]:
ages.remove(30)

In [61]:
ages

[39, 27, 18, 15]

In [62]:
ages.append(15)

In [63]:
ages

[39, 27, 18, 15, 15]

In [64]:
ages.remove(15)

In [65]:
ages

[39, 27, 18, 15]

In [66]:
ages.append(27)
ages.remove(27)
ages

[39, 18, 15, 27]

In [67]:
28 in ages

False

In [68]:
15 in ages

True

In [71]:
if 15 in ages:
  ages.remove(15)

In [72]:
ages

[39, 18, 27]

In [73]:
ages.clear()
ages

[]

In [81]:
ages = [39, 18, 15, 27]
ages

[39, 18, 15, 27]

*Adicionando elementos em uma lista :*



```
# Adicionando 1 elemento em 1 posicao 
```

In [84]:
ages.insert(0, 20)
ages

[20, 39, 18, 15, 27]



```
# Adicionando varios elementos em 1 lista, ou elementos de uma lista em outra lista.
```

In [85]:
new_ages = [19, 21, 40]
ages.extend(new_ages)
ages

[20, 39, 18, 15, 27, 19, 21, 40]


```
# Descobrindo idades do proximo ano
```

In [86]:
ages_next_year = []
for age in ages:
    ages_next_year.append(age + 1)
ages_next_year

[21, 40, 19, 16, 28, 20, 22, 41]



```
# List comprehension
```

In [87]:
ages_next_year = [(age + 1) for age in ages]
ages_next_year

[21, 40, 19, 16, 28, 20, 22, 41]

In [88]:
[(age) for age in ages if age > 21]

[39, 27, 40]

In [89]:
def next_year(age):
  return age + 1

[next_year(age) for age in ages if age > 21]

[40, 28, 41]

# Tuplas

In [93]:
class CorrentAccount:

  def __init__(self, code):
    self.code = code
    self.balance = 0

  def deposit(self, value):
    self.balance += value
  
  def __str__(self):
    return (f" Code: {self.code} >> Balance: {self.balance}")

In [94]:
account_01 = CorrentAccount(15)
print(account_01)

 Code: 15 >> Balance: 0

In [95]:
account_02 = CorrentAccount(5121)
print(account_02)

 Code: 5121 >> Balance: 0

In [96]:
accounts = [account_01, account_02]
print(accounts)

[<__main__.CorrentAccount object at 0x7f73702d5250>, <__main__.CorrentAccount object at 0x7f73702d5910>]

In [97]:
for account in accounts:
  print(account)

 Code: 15 >> Balance: 0
 Code: 5121 >> Balance: 0

In [100]:
account_01.deposit(100)
account_02.deposit(500)

for account in accounts:
  print(account)

 Code: 15 >> Balance: 300
 Code: 5121 >> Balance: 500

In [104]:
def deposit_for_all_accounts(accounts):
  for account in accounts:
    account.deposit(100)

accounts = [account_01, account_02]
print(accounts[0], accounts[1])
deposit_for_all_accounts(accounts)
print(accounts[0], accounts[1])

 Code: 15 >> Balance: 400  Code: 5121 >> Balance: 600
 Code: 15 >> Balance: 500  Code: 5121 >> Balance: 700


```
# Para sequencia de elementos com tipos diferentes que nao sao mutaveis ultilizamos tupla. (posicao especificas, coisas diferentes)
```

In [107]:
igor = ('Igor', 20, 2000)  # tupla
amanda = ('Amanda', 20, 2001)

# Paulo = (39, 'Paulo', 1998) # ruim

In [108]:
igor.append(5123)

AttributeError: ignored

In [110]:
account_01 = (15, 1000)
# account_01.deposit() # variacao OO

print(account_01[1])

1000

In [111]:
account_01[1] += 10

TypeError: ignored

In [115]:
def deposit(account): # Modelo Procedural (Separando comportamento dos dados)
  new_balance = account[1] + 100
  code = account_01[0]
  return (code, new_balance)

In [113]:
account_01

(15, 1000)

In [116]:
account_01 = deposit(account_01)
account_01

(15, 1100)

In [119]:
users = [igor, amanda]
users

[('Igor', 20, 2000), ('Amanda', 20, 2001)]

In [123]:
users.append(('Paulo', 21, 1999))
users

[('Igor', 20, 2000), ('Amanda', 20, 2001), ('Paulo', 21, 1999)]

In [128]:
account_01 = CorrentAccount(15)

In [129]:
accounts = (account_01, account_02) # tuplas de objetos (podemos mudar o objeto, mas a tupla nao)

In [130]:
for account in accounts:
  print(account)

 Code: 15 >> Balance: 0
 Code: 5121 >> Balance: 700

In [132]:
accounts[1].deposit(500)

In [133]:
accounts

(<__main__.CorrentAccount at 0x7f737020d0d0>,
 <__main__.CorrentAccount at 0x7f73702d5910>)

In [134]:
for account in accounts:
  print(account)

 Code: 15 >> Balance: 500
 Code: 5121 >> Balance: 1200