# Listas e Operacoes

In [ ]:
age_01 = 39
age_02 = 30
age_03 = 27
age_04 = 18

print(age_01)
print(age_02)
print(age_03)
print(age_04)

39
30
27
18

In [ ]:
ages = [39, 30, 27, 18]
type(ages)

list

In [ ]:
len(ages)

4

In [ ]:
ages[0]

39

In [ ]:
ages

[39, 30, 27, 18]

In [ ]:
ages.append(15)

In [ ]:
ages

[39, 30, 27, 18, 15]

In [ ]:
ages[4]

15

In [ ]:
for age in ages:
  print(age)

39
30
27
18
15

In [ ]:
ages.remove(30)

In [ ]:
ages

[39, 27, 18, 15]

In [ ]:
ages.append(15)

In [ ]:
ages

[39, 27, 18, 15, 15]

In [ ]:
ages.remove(15)

In [ ]:
ages

[39, 27, 18, 15]

In [ ]:
ages.append(27)
ages.remove(27)
ages

[39, 18, 15, 27]

In [ ]:
28 in ages

False

In [ ]:
15 in ages

True

In [ ]:
if 15 in ages:
  ages.remove(15)

In [ ]:
ages

[39, 18, 27]

In [ ]:
ages.clear()
ages

[]

In [ ]:
ages = [39, 18, 15, 27]
ages

[39, 18, 15, 27]

*Adicionando elementos em uma lista :*



```
# Adicionando 1 elemento em 1 posicao 
```

In [ ]:
ages.insert(0, 20)
ages

[20, 39, 18, 15, 27]



```
# Adicionando varios elementos em 1 lista, ou elementos de uma lista em outra lista.
```

In [ ]:
new_ages = [19, 21, 40]
ages.extend(new_ages)
ages

[20, 39, 18, 15, 27, 19, 21, 40]


```
# Descobrindo idades do proximo ano
```

In [ ]:
ages_next_year = []
for age in ages:
    ages_next_year.append(age + 1)
ages_next_year

[21, 40, 19, 16, 28, 20, 22, 41]



```
# List comprehension
```

In [ ]:
ages_next_year = [(age + 1) for age in ages]
ages_next_year

[21, 40, 19, 16, 28, 20, 22, 41]

In [ ]:
[(age) for age in ages if age > 21]

[39, 27, 40]

In [ ]:
def next_year(age):
  return age + 1

[next_year(age) for age in ages if age > 21]

[40, 28, 41]

# Tuplas

In [ ]:
class CorrentAccount:

  def __init__(self, code):
    self.code = code
    self.balance = 0

  def deposit(self, value):
    self.balance += value
  
  def __str__(self):
    return (f" Code: {self.code} >> Balance: {self.balance}")

In [ ]:
account_01 = CorrentAccount(15)
print(account_01)

 Code: 15 >> Balance: 0

In [ ]:
account_02 = CorrentAccount(5121)
print(account_02)

 Code: 5121 >> Balance: 0

In [ ]:
accounts = [account_01, account_02]
print(accounts)

[<__main__.CorrentAccount object at 0x7f41b45f5690>, <__main__.CorrentAccount object at 0x7f41b45f53d0>]

In [ ]:
for account in accounts:
  print(account)

 Code: 15 >> Balance: 0
 Code: 5121 >> Balance: 0

In [ ]:
account_01.deposit(100)
account_02.deposit(500)

for account in accounts:
  print(account)

 Code: 15 >> Balance: 100
 Code: 5121 >> Balance: 500

In [ ]:
def deposit_for_all_accounts(accounts):
  for account in accounts:
    account.deposit(100)

accounts = [account_01, account_02]
print(accounts[0], accounts[1])
deposit_for_all_accounts(accounts)
print(accounts[0], accounts[1])

 Code: 15 >> Balance: 100  Code: 5121 >> Balance: 500
 Code: 15 >> Balance: 200  Code: 5121 >> Balance: 600


```
# Para sequencia de elementos com tipos diferentes que nao sao mutaveis ultilizamos tupla. (posicao especificas, coisas diferentes)
```

In [ ]:
igor = ('Igor', 20, 2000)  # tupla
amanda = ('Amanda', 20, 2001)

# Paulo = (39, 'Paulo', 1998) # ruim

In [ ]:
igor.append(5123)

AttributeError: ignored

In [ ]:
account_01 = (15, 1000)
# account_01.deposit() # variacao OO

print(account_01[1])

In [ ]:
account_01[1] += 10

In [ ]:
def deposit(account): # Modelo Procedural (Separando comportamento dos dados)
  new_balance = account[1] + 100
  code = account_01[0]
  return (code, new_balance)

In [ ]:
account_01

In [ ]:
account_01 = deposit(account_01)
account_01

In [ ]:
users = [igor, amanda]
users

In [ ]:
users.append(('Paulo', 21, 1999))
users

In [ ]:
account_01 = CorrentAccount(15)

In [ ]:
accounts = (account_01, account_02) # tuplas de objetos (podemos mudar o objeto, mas a tupla nao)

In [ ]:
for account in accounts:
  print(account)

In [ ]:
accounts[1].deposit(500)

In [ ]:
accounts

In [ ]:
for account in accounts:
  print(account)

# Polimorfismo e arrays

#### Heranca e polimorfismo

In [54]:
class Account:

  def __init__(self, code):
    self._code = code
    self._balance = 0

  def deposit(self, value):
    self._balance += value
  
  def __str__(self):
    return (f" Code: {self._code} >> Balance: {self._balance}")

In [ ]:
print(Account(88))

 Code: 88 >> Balance: 0

In [55]:
class CorrentAccount(Account):

  def spend_month(self):
    self._balance -= 2

class SavingsAccount(Account):
  
  def spend_month(self):
    self._balance *= 1.01
    self._balance -= 3

In [ ]:
account_16 = CorrentAccount(16)
account_16.deposit(1000)
account_16.spend_month()
print(account_16)

 Code: 16 >> Balance: 998

In [ ]:
account_17 = SavingsAccount(17)
account_17.deposit(2000)
account_17.spend_month()
print(account_17)

 Code: 17 >> Balance: 2017.0

In [ ]:
account_16 = CorrentAccount(16)
account_16.deposit(1000)
account_17 = SavingsAccount(17)
account_17.deposit(2000)
accounts = [account_16, account_17]

for account in accounts:
  account.spend_month() # Duck Typing
  print(account)

 Code: 16 >> Balance: 998
 Code: 17 >> Balance: 2017.0

#### Array ( Evitaremos ultilizar )

In [ ]:
import array as arr

In [ ]:
arr.array('d', [1, 3.5])

array('d', [1.0, 3.5])

Onde seria viável utilizarmos o array, existe uma biblioteca que consegue ser mais recomendada para realização da tarefa, como trabalhar com números e dados matemáticos específicos, estamos falando da biblioteca *numpy*, **bastante utilizada na área de data science.**




```
import numpy as np
```

In [ ]:
import numpy as np

numbers = np.array([1, 3.5])
numbers

array([1. , 3.5])

In [ ]:
numbers + 3

array([4. , 6.5])



#### Metodo Abstrato

In [ ]:
class Account:

  def __init__(self, code):
    self._code = code
    self._balance = 0

  def deposit(self, value):
    self._balance += value
  
  def __str__(self):
    return (f" Code: {self._code} >> Balance: {self._balance}")

In [ ]:
class CorrentAccount(Account):

  def spend_month(self):
    self._balance -= 2

class SavingsAccount(Account):
  
  def spend_month(self):
    self._balance *= 1.01
    self._balance -= 3

class InvestementAccount(Account):
  pass

In [ ]:
InvestementAccount(600)

Foi possível criar uma conta investimento mesmo sem ter o método de passar o mês **spend_month**, mas para forçar toda conta que será herdeira da classe *Account* a ter esse método devemos utilizar o *abstractMethod*

OU SEJA, QUER FORCAR AS CLASSE TUDO QUE HERDA DA MAE TER O METODO X? SO COLOCA O METODO COMO METODO ABSTRATO, TAAAAAAAA?

```
import abc from ABCMeta, abstractmethod
```

In [ ]:
from abc import ABCMeta, abstractmethod

class Account(metaclass=ABCMeta):

  def __init__(self, code):
    self._code = code
    self._balance = 0

  def deposit(self, value):
    self._balance += value
  
  @abstractmethod
  def spend_month(self):
    pass

  def __str__(self):
    return (f" Code: {self._code} >> Balance: {self._balance}")

In [ ]:
class CorrentAccount(Account):

  def spend_month(self):
    self._balance -= 2

class SavingsAccount(Account):
  
  def spend_month(self):
    self._balance *= 1.01
    self._balance -= 3

class InvestementAccount(Account):
  pass

In [ ]:
print(Account(17))

TypeError: ignored

In [ ]:
print(InvestementAccount(20))

TypeError: ignored

In [ ]:
CorrentAccount(100)

In [ ]:
SavingsAccount(131)

# Igualdade




#### Igualdade e o `__eq__`

In [18]:
class SalaryAccount:

  def __init__(self, code):
    self._code = code
    self._balance = 0

  def deposit(self, value):
    self._balance += value

  def __str__(self):
    return (f" Code: {self._code} >> Balance: {self._balance}")

In [19]:
account_01 = SalaryAccount(37)
print(account_01)

 Code: 37 >> Balance: 0

In [20]:
account_02 = SalaryAccount(37)
print(account_02)

 Code: 37 >> Balance: 0

In [21]:
account_01 == account_02

False

In [22]:
accounts = [account_01]
account_01 in accounts

True

In [23]:
account_02 in accounts

False

In [24]:
class SalaryAccount:

  def __init__(self, code):
    self._code = code
    self._balance = 0

  def __eq__(self, other):
    return (self._code == other._code)

  def deposit(self, value):
    self._balance += value

  def __str__(self):
    return (f" Code: {self._code} >> Balance: {self._balance}")

In [25]:
account_01 = SalaryAccount(37)

In [26]:
account_02 = SalaryAccount(37)

In [27]:
account_01 == account_02

True

In [28]:
account_01 != account_02

False

In [29]:
account_01 in [account_02]

True

In [30]:
account_02 in [account_01]

True

In [44]:
class SalaryAccount:

  def __init__(self, code):
    self._code = code
    self._balance = 0

  def __eq__(self, other):
    return (self._code == other._code) and (self._balance == other._balance)

  def deposit(self, value):
    self._balance += value

  def __str__(self):
    return (f" Code: {self._code} >> Balance: {self._balance}")

In [48]:
account_01 = SalaryAccount(37)
account_02 = SalaryAccount(37)

account_01.deposit(10)

In [49]:
account_01 == account_02

False

In [51]:
class SalaryAccount:

  def __init__(self, code):
    self._code = code
    self._balance = 0

  def __eq__(self, other):
    if type(other) != SalaryAccount:
      return False

    return (self._code == other._code) and (self._balance == other._balance)

  def deposit(self, value):
    self._balance += value

  def __str__(self):
    return (f" Code: {self._code} >> Balance: {self._balance}")

In [56]:
account_01 = SalaryAccount(37)
account_02 = CorrentAccount(37)

In [57]:
account_01 == account_02

False

In [59]:
isinstance(CorrentAccount(37), CorrentAccount)

True

In [60]:
isinstance(CorrentAccount(37), Account)

True